<!-- Your footer goes here -->

<footer class="footer">
	<div class="footer__bar">
		<div class="container">
			<div class="footer__inner">
				<a href="index.html" class="logo link-reset logo--alt footer__logo">UMA</a>

				<nav class="footer__nav">
					<ul>
						<li>
							<a href="about.html">About</a>
						</li>

						<li>
							<a href="https://github.com/umaprotocol" target="_blank">GitHub</a>
						</li>

						<li>
							<a href="https://medium.com/uma-project" target="_blank">Medium</a>
						</li>

						<li>
							<a href="https://twitter.com/UMAprotocol" target="_blank">Twitter</a>
						</li>
					</ul>
				</nav><!-- /.footer__nav -->

				<p class="footer__copyright">
					Copyright 2018
					Risk Labs
				</p><!-- /.footer__copyright -->
			</div><!-- /.footer__inner -->
		</div><!-- /.container -->
	</div><!-- /.footer__bar -->
</footer><!-- /.footer -->