<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>UMA</title>

	<link rel="icon" type="image/png" href="assets/images/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="assets/images/favicon-16x16.png" sizes="16x16" />
	<link rel="mask-icon" href="assets/images/safari-pinned-tab.svg" color="#FF4A4A">
	
	<!-- Below is from https://realfavicongenerator.net/ -->
	<!-- <link rel="manifest" href="/site.webmanifest"> -->
	<!-- <meta name="msapplication-TileColor" content="#da532c"> -->
	<!-- <meta name="theme-color" content="#ffffff"> -->

	<link rel="stylesheet" type="text/css" href="assets/css/bundle.css" />
	<link rel="stylesheet" href="https://use.typekit.net/jll8euv.css" />

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130599982-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-130599982-1');
	</script>

</head>
