<!-- Your header goes here -->

<header class="header">
	<div class="container">
		<div class="header__inner">
			<a href="index.html" class="logo link-reset">UMA</a>

			<a href="index.html" class="btn-menu link-reset">
				<span class="btn__icon">
					<span></span>
				</span>
			</a>

			<nav class="nav">
				<ul>
					<li class="d-block d-md-none">
						<a href="index.html">
							Home
						</a>
					</li>

					<li>
						<a href="about.html">About</a>
					</li>

					<li>
						<a href="https://github.com/umaprotocol" target="_blank">Github</a>
					</li>

					<li>
						<a href="https://medium.com/uma-project" target="_blank">Medium</a>
					</li>

					<li>
						<a href="https://twitter.com/UMAprotocol" target="_blank">Twitter</a>
					</li>
				</ul>
			</nav><!-- /.nav -->
		</div><!-- /.header__inner -->
	</div><!-- /.container -->
</header><!-- /.header -->