<!-- Your header goes here -->

<header class="header">
	<div class="container">
		<div class="header__inner">
			<a href="#" class="logo link-reset">Uma</a>

			<a href="#" class="btn-menu link-reset">
				<span class="btn__icon">
					<span></span>
				</span>
			</a>

			<nav class="nav">
				<ul>
					<li class="d-block d-md-none">
						<a href="#">
							Home
						</a>
					</li>

					<li class="current">
						<a href="#">Team</a>
					</li>

					<li>
						<a href="#">Blog</a>
					</li>
				</ul>
			</nav><!-- /.nav -->
		</div><!-- /.header__inner -->
	</div><!-- /.container -->
</header><!-- /.header -->