/* ------------------------------------------------------------ *\
	subscribe
\* ------------------------------------------------------------ */

.subscribe {
	position: relative;

	form {
		position: relative;
	}

	.subscribe__field {
		border-bottom: 1px solid rgba(0, 0, 0, .3);
		border-top: none;
		border-left: none;
		border-right: none;
		width: 100%;
		background-color: $c-white;
		padding: 8px 24px 8px 0;
		font-size: 14px;
		font-weight: 400;
		color: rgba(0, 0, 0, .4);
	}

	.subscribe__btn {
		position: absolute;
		right: 4px;
		top: 50%;
		width: 13px;
		transform: translateY(-50%);
		border: none;
		background: none;
	}

	.subscribe__message {
		margin-top: 15px;
		font-size: 16px;
	}
}
