/* ------------------------------------------------------------ *\
	footer-nav
\* ------------------------------------------------------------ */

.footer-nav {

	a {
		text-decoration: none;
		font-weight: 600;
		font-size: 16px;
		line-height: 2.5;
		position: relative;
	}

	li {
		list-style: none;
	}

	a:after {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: 1px;
		background: $c-black;
		transform: scaleX(0);
		transition: transform .3s;
	}

	a:hover:after {
		transform: scaleX(1);
	}
}
