.products-hero {
  padding: 80px 0 140px;

  background: linear-gradient(to left, #ff4a4a, #272528);
  @include breakpoint-down(tablet) {
    padding: 87px 0 100px;
  }

  @include breakpoint-down(mobile) {
    padding: 56px 0 80px;
  }

  .products-uma-blurb {
    color: #000;
    position: absolute;
    right: 0;
    transform: translateY(-40px);
    margin-right: 2rem;
    font-size: 1.25rem;
    .products-sm-logo {
      height: 25px;
    }
  }

  h1 {
    line-height: 1.08;
    font-weight: 600;
    margin-bottom: 60px;
    color: #fff;

    @include breakpoint-down(tablet) {
      line-height: 1.13;
      margin-bottom: 45px;
    }

    @include breakpoint-down(mobile) {
      line-height: 1.08;
    }
  }

  h4 {
    color: #fff;
    font-family: "Halyard Display";
    font-size: 1.6rem;
    font-weight: 300;
    max-width: 900px;
  }

  .hero__actions {
    @include breakpoint-down(mobile) {
      margin-top: -10px;
    }
  }
}

.products-body {
  padding: 80px 0 140px;

  .products-body-title {
    font-family: "Halyard Display";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  .products-body-info {
    padding: 0rem 1rem;
    font-family: "Halyard Display";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 20px;
    &::before {
      content: "";
      position: absolute;
      border-color: #ff4a4a;
      border-style: solid;
      border-width: 2px;
      height: 1.5rem;
      margin-right: 8px;
      transform: translateX(-16px);
    }
  }
  .products-body-info,
  .products-body-title,
  .products-btn-wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .products-btn-link {
    width: 325px;
    height: 55px;
    border-radius: 5px;
    color: #fff;
    background-color: #ff4a4a;
    font-weight: 600;
    font-family: "Halyard Display";
    font-size: 1.1rem;
    margin-top: 1rem;
    border-width: 0;
    &:hover {
      opacity: 0.7;
      transition: opacity 0.33s ease-in;
    }
    &.oo-btn {
      width: 350px;
    }
  }
}
