.products-hero {
  padding: 80px 0 140px;

  background: linear-gradient(to left, #ff4a4a 66%, #272528);
  @include breakpoint-down(tablet) {
    padding: 87px 0 100px;
  }

  @include breakpoint-down(mobile) {
    padding: 56px 0 80px;
  }

  .products-uma-blurb {
    color: #000;
    position: absolute;
    right: 0;
    transform: translateY(-40px);
    margin-right: 2rem;
    font-size: 1.25rem;
    .products-sm-logo {
      height: 25px;
    }
    @include breakpoint-down(tablet) {
      position: relative;
      transform: translate(0);
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
      margin-top: -1rem;
    }
  }

  h1 {
    line-height: 1.08;
    font-weight: 600;
    margin-bottom: 60px;
    color: #fff;

    @include breakpoint-down(tablet) {
      line-height: 1.13;
      margin-bottom: 45px;
    }

    @include breakpoint-down(mobile) {
      line-height: 1.08;
    }
  }

  h4 {
    color: #fff;
    font-family: "Halyard Display";
    font-size: 1.6rem;
    font-weight: 300;
    max-width: 900px;
  }

  .hero__actions {
    @include breakpoint-down(mobile) {
      margin-top: -10px;
    }
  }
  // For new KPI page.
  &.kpi {
    padding-bottom: 1.75rem;
    @include breakpoint-down(tablet) {
      padding-top: 30px;
    }
    .products-uma-blurb {
      margin-right: 20px;
      float: right;
      text-align: right;
    }
    .products-shell {
      max-width: 1200px;
      margin: 0 auto;
    }
    .products-sm-logo {
      height: 20px;
      @include breakpoint-down(mobile) {
        height: 12px;
      }
    }
    h1 {
      // margin-left: 4rem;
      margin-left: 0;
      margin-right: 0;
      font-size: 4.5rem;

      @include breakpoint-down(tablet) {
        margin-left: 2rem;
        text-align: left;
        font-size: 3rem;
      }
      @include breakpoint-down(mobile) {
        margin-left: 0.5rem;
        font-size: 2.25rem;
      }
    }
    h3 {
      color: #fff;
      font-weight: 600;
      font-size: 2rem;
      margin-top: 1rem;
      display: flex;
      flex-direction: row;
      @include breakpoint-down(tablet) {
        margin-left: 2rem;
        span:first-of-type {
          flex-basis: 66%;
        }
        .ml11 {
          position: absolute;
          margin-left: 12rem;
          margin-top: 3.33rem;
        }
      }
      @include breakpoint-down(mobile) {
        margin-left: 0.66rem;
        text-align: left;
        font-size: 1.2rem;
        span:first-of-type {
          flex-basis: 80%;
        }
        .ml11 {
          margin-left: 6.8rem;
          margin-top: 2rem;
        }
      }
    }
  }
}

.kpi-benefits-section {
  background-color: #f4f4f5;
  width: 100%;
  padding: 3rem 1.5rem;
  @include breakpoint-down(tablet) {
    padding: 1rem 2rem;
  }
  @include breakpoint-down(mobile) {
    // padding: 0rem 1rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 0.66rem;
  }
  .kpi-benefits-wrapper {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    @include breakpoint-down(tablet) {
      flex-direction: column;
      justify-content: flex-start;
    }
    .kpi-benefits-item {
      margin: 0;
      padding: 1.5rem 1.25rem;
      text-align: center;
      background-color: #fff;
      flex-basis: 21.5%;
      // display: block;
      border-radius: 5px;
      &.success {
        flex-basis: 27%;
      }
      @include breakpoint-down(tablet) {
        margin: 1rem 0;
        text-align: left;
        display: flex;
      }
      @include breakpoint-down(mobile) {
        flex-direction: row;
        text-align: left;
        padding: 1rem 0.5rem;
        margin: 0.5rem 0;
        &:first-of-type {
          margin-top: 1rem;
        }
        &:last-of-type {
          margin-bottom: 1rem;
        }
      }
      .kpi-benefits-item-text {
        margin-left: 0;
        @include breakpoint-down(tablet) {
          margin-left: 1rem;
        }
        @include breakpoint-down(mobile) {
        }

        h4 {
          font-size: 1.25rem;
          font-weight: 600;
          color: hsla(280, 4%, 15%, 1);
          margin-bottom: 0;
          @include breakpoint-down(tablet) {
            font-size: 2.25rem;
          }
          @include breakpoint-down(mobile) {
            font-size: 1rem;
            text-align: left;
          }
        }
        h5 {
          color: hsla(280, 4%, 15%, 1);
          font-size: 1rem;
          font-weight: 400;
          @include breakpoint-down(tablet) {
            font-size: 1.25rem;
          }
          @include breakpoint-down(mobile) {
            font-size: 0.75rem;
            text-align: left;
            line-height: 0.75rem;
          }
        }
      }
    }
    .kpi-svg {
      height: 105px;
      margin-left: 0;

      @include breakpoint-down(tablet) {
        margin-left: 1rem;
      }
      @include breakpoint-down(mobile) {
        height: 40px;
      }
    }
  }
}

.kpi-how-does-it-work {
  background-color: #ff4a4a;
  padding: 1.5rem 3rem 4rem;
  @include breakpoint-down(tablet) {
    padding: 1.5rem 3rem 1rem;
  }
  @include breakpoint-down(mobile) {
    padding: 1rem 1.25rem 2rem;
  }
  h6,
  h2 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5rem;
    color: #fff;
  }
  h2 {
    font-size: 2.25rem;
    font-weight: 600;
    margin-top: -1rem;
    margin-bottom: 2rem;
    @include breakpoint-down(tablet) {
      padding-left: 0.25rem;
      font-size: 2rem;
    }
  }
  h6 {
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase;
    @include breakpoint-down(tablet) {
      padding-left: 0.25rem;
      font-size: 1.25rem;
    }
  }
  .kpi-how-does-it-work-wrapper {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    @include breakpoint-down(tablet) {
      flex-direction: column;
    }
    .kpi-how-does-it-work-item {
      display: block;
      padding: 1.5rem 1.25rem 2.5rem;
      text-align: center;
      background-color: #fff;
      flex-basis: 27%;
      border-radius: 5px;
      @include breakpoint-down(tablet) {
        display: flex;
        padding: 1rem 0rem 1.25rem;
        margin: 0.5rem 0;
      }
      h4 {
        font-size: 1.25rem;
        font-weight: 600;
        margin-top: 1rem;
        margin-bottom: 0.25rem;
        @include breakpoint-down(tablet) {
          margin-top: 0;
          font-size: 2rem;
        }
        @include breakpoint-down(mobile) {
          font-size: 1.5rem;
        }
      }
      h5 {
        font-size: 1rem;
        font-weight: 400;
        margin-top: 0rem;
        line-height: 1.1rem;
        @include breakpoint-down(tablet) {
          margin-top: 0;
          font-size: 1.4rem;
          line-height: 1.5rem;
        }
        @include breakpoint-down(mobile) {
          font-size: 0.875rem;
          line-height: 1rem;
          max-width: 90%;
        }
      }
      .kpi-how-does-it-work-item-wrapper {
        display: block;
        @include breakpoint-down(tablet) {
          text-align: left;
          flex-basis: 85%;
        }
      }
      .kpi-circle {
        background-color: #ff4a4a;
        border-radius: 16px;
        width: 32px;
        margin: 0 auto;
        color: #fff;
        font-weight: 600;
        font-size: 1.2rem;
        @include breakpoint-down(tablet) {
          margin-top: 1rem;
          height: 40px;
          width: 40px;
          border-radius: 32px;
          font-size: 1.5rem;
          margin-right: 32px;
        }
        @include breakpoint-down(mobile) {
          margin-right: 16px;
          margin-left: 16px;
          height: 32px;
          width: 32px;
          font-size: 1.2rem;
          margin-top: 0.5rem;
        }
      }
    }
  }
  .kpi-how-does-it-work-btn-wrapper {
    text-align: center;
    margin-top: 3rem;
    @include breakpoint-down(tablet) {
      margin: 2rem;
    }
    button {
      width: 215px;
      height: 55px;
      color: #ff4a4a;
      background-color: #fff;
      border-radius: 5px;
      border: 0;
      font-weight: 600;
      font-size: 1.2rem;
      &:hover {
        background-color: #f5f5f5;
      }
      @include breakpoint-down(tablet) {
        font-size: 1.5rem;
        font-weight: 400;
        width: 250px;
      }
      @include breakpoint-down(mobile) {
        width: 215px;
        font-size: 1.3rem;
      }
    }
  }
}

.kpi-what-is-it-section {
  background-color: #fff;
  padding: 3rem 2rem 5rem;
  @include breakpoint-down(mobile) {
    padding: 1rem 1.25rem 2rem;
  }
  .success-tldr-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 950px;
    margin: 2rem auto 0;
    background-color: #f5f5f5;
    div {
      flex-basis: 20%;
    }
    img {
      // height: 100px;
      margin-left: 3rem;
      margin-top: -1rem;
    }
    p {
      flex-basis: 75%;
      font-family: "Halyard Display";
      font-weight: 400;
      margin: 1rem 0;
    }
  }
  .kpi-what-is-it-wrapper {
    display: flex;
    justify-content: flex-end;
    max-width: 1400px;
    margin: 0 auto;
    flex-direction: row;
    @include breakpoint-down(tablet) {
      flex-direction: column;
    }
    .ui-example-text {
      text-align: center;
      font-size: 0.75rem;
      color: hsla(0, 0%, 54%, 1);
      font-weight: 400;
      width: 100%;
      max-width: 575px;

      @include breakpoint-down(tablet) {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        max-width: 710px;
      }
      @include breakpoint-down(mobile) {
        font-size: 0.66rem;
      }
    }
    .ui-example-img {
      height: 360px;
      max-width: 575px;
      &.success-img {
        height: 518px;
        margin-top: 5rem;
        max-width: 100%;
      }
      @include breakpoint-down(tablet) {
        max-width: 710px;
        width: 100%;
      }
      @include breakpoint-down(mobile) {
        height: 180px;
      }
    }
    .kpi-what-is-it-item {
      h6 {
        color: hsla(0, 0%, 66%, 1);
        font-size: 0.875rem;
        font-weight: 400;
        text-transform: uppercase;
        @include breakpoint-down(tablet) {
          font-size: 1rem;
        }
        @include breakpoint-down(mobile) {
          font-size: 0.75rem;
          margin-left: 2px;
        }
      }
      h3 {
        color: hsla(280, 4%, 15%, 1);
        font-size: 2.25rem;
        font-weight: 600;
        margin-top: -1rem;
        @include breakpoint-down(tablet) {
          font-size: 3rem;
        }
        @include breakpoint-down(mobile) {
          font-size: 2rem;
        }
      }
      h4 {
        margin-top: -1rem;
        margin-left: 4px;
        font-size: 1rem;
        font-weight: 400;
        max-width: 450px;
        color: hsla(280, 4%, 15%, 1);
        @include breakpoint-down(tablet) {
          font-size: 1.25rem;
          max-width: 100%;
        }
        @include breakpoint-down(mobile) {
          font-size: 0.9rem;
        }
      }
      .kpi-what-is-it-btn-wrapper {
        display: block;
        @include breakpoint-down(tablet) {
          display: none;
          text-align: center;
        }
      }
    }

    .kpi-what-is-it-btn {
      height: 55px;
      color: #fff;
      background-color: #ff4a4a;
      width: 215px;
      font-size: 1.2rem;
      border: 0;
      border-radius: 5px;
      margin-top: 1rem;
      margin-left: 4px;
      line-height: 1.2rem;
      &:hover {
        background-color: #e60101;
      }
    }
    .kpi-what-is-it-item {
      flex-basis: 40%;
      &.kpi-ui-example {
        flex-basis: 50%;
      }
    }
  }
}

.kpi-partner-recommendations-section {
  background-color: #fff;
  padding: 3rem 2rem 5rem;
  @include breakpoint-down(mobile) {
    padding: 1rem 1rem 1rem;
  }
  h2 {
    font-size: 2.25rem;
    font-weight: 600;
    margin-top: -1rem;
    margin-bottom: 2rem;
    max-width: 1075px;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint-down(tablet) {
      padding-left: 0.25rem;
      font-size: 2rem;
    }
  }
  .kpi-partner-recommendations-wrapper {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
    flex-direction: row;
    @include breakpoint-down(tablet) {
      flex-direction: column;
    }
    .kpi-partner-recommendations-item {
      flex-basis: 40%;
      box-shadow: 0px 12px 20px 0px hsla(0, 0%, 0%, 0.03);
      padding: 2rem 2rem 3rem;
      border-radius: 20px;
      border: 1px solid hsla(0, 0%, 96%, 1);
      &.success {
        flex-basis: 27%;
        img {
          height: 55px;
        }
      }
      @include breakpoint-down(mobile) {
        padding: 1rem 1rem 2rem;
        margin: 1rem 0;
      }

      .kpi-rec {
        margin-top: 1.25rem;
      }
      h3 {
        font-size: 1.25rem;
        font-style: italic;
        font-weight: 400;
        line-height: 1.75rem;
        margin-bottom: 2rem;
        &.badger {
          margin-bottom: 2rem;
        }
        @include breakpoint-down(mobile) {
          font-size: 1rem;
        }
      }
      h5 {
        font-weight: 600;
        font-size: 1rem;
      }
      .kpi-recommendation-btn {
        color: #fff;
        background-color: #ff4a4a;
        font-size: 1rem;
        border: 0;
        border-radius: 5px;
        height: 40px;
        width: 120px;
      }
    }
  }
}

.products-body {
  padding: 80px 0 140px;

  .products-body-title {
    font-family: "Halyard Display";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    @include breakpoint-down(tablet) {
      text-align: center;
    }
  }
  .products-body-info {
    padding: 0rem 1rem;
    font-family: "Halyard Display";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 20px;
    @include breakpoint-down(tablet) {
      padding: 4px 2rem;
      text-align: left;
      line-height: 1.5rem;
    }

    @include breakpoint-down(mobile) {
      text-align: left;
    }
    &::before {
      content: "";
      position: absolute;
      border-color: #ff4a4a;
      border-style: solid;
      border-width: 0.125rem;
      height: 1.5rem;
      margin-right: 8px;
      transform: translateX(-16px);
      @include breakpoint-down(tablet) {
        display: none;
      }
    }
  }
  .products-body-info,
  .products-body-title,
  .products-btn-wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .products-btn-wrapper {
    @include breakpoint-down(tablet) {
      text-align: center;
    }
  }

  .products-btn-link {
    width: 325px;
    height: 55px;
    border-radius: 5px;
    color: #fff;
    background-color: #ff4a4a;
    font-weight: 600;
    font-family: "Halyard Display";
    font-size: 1.1rem;
    margin-top: 1rem;
    border-width: 0;

    &:hover {
      opacity: 0.7;
      transition: opacity 0.33s ease-in;
    }
    &.oo-btn {
      width: 350px;
    }
  }
}
.products-shell {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  width: 100%;
  h1 {
    max-width: 800px;
    margin: 0 auto;
    @include breakpoint-down(tablet) {
      text-align: center;
    }
  }
  h4 {
    margin: 1rem auto 0;
    max-width: 850px;
    padding-left: 27px;
    @include breakpoint-down(tablet) {
      padding: 0.5rem 1rem;
    }
  }
  br {
    margin: 0.5rem 0;
  }
}

// Sliding animation CSS
#testimonials {
  width: 200px;
  height: 200px;
  max-height: 200px;
}
.testimonial {
  display: none;
}
.testimonial span {
  color: white;
}

#kpi-cta-container {
  display: inline-block;
  // width: 100px;
  overflow-y: hidden;
  height: 50px;
  margin-left: 6px;
  .kpi-hero-cta {
    transition-timing-function: ease-in;

    color: hsla(280, 4%, 15%, 1);
  }
}

.ml11 {
  font-weight: 700;
  // font-size: 3.5em;
}

.ml11 .text-wrapper {
  margin-left: 8px;
  position: relative;
  display: inline-block;
  // padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  color: hsla(280, 4%, 15%, 1);
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  // height: 100%;
  height: 50px;
  width: 3px;
  background-color: hsla(280, 4%, 15%, 1);

  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: inherit;
  font-size: inherit;
}
