/* ------------------------------------------------------------ *\
	section-updates
\* ------------------------------------------------------------ */

.section-updates {
	padding: 141px 0 140px;

	@include breakpoint-down(tablet) {
		padding: 121px 0 120px;
	}

	@include breakpoint-down(mobile) {
		padding: 76px 0 80px;
	}

	h5 {
		line-height: 1.68;
		padding: 0 26px;
		border-left: 1px solid $c-black;
		margin-bottom: 80px;

		@include breakpoint-down(tablet) {
			margin-bottom: 70px;
		}

		@include breakpoint-down(mobile) {
			padding: 0 20px;
			margin-bottom: 55px;
		}
	}

	.section__actions {
		margin-top: 11px;

		@include breakpoint-down(tablet) {
			margin-top: -13px;
		}

	}
}
