/* ------------------------------------------------------------ *\
	Settings
\* ------------------------------------------------------------ */

@import '~bootstrap/dist/css/bootstrap.css';

@import '_settings.css';

@import '_tools.css';

@import '_sprite.css';

/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

@import '_generic*.css';

/* ------------------------------------------------------------ *\
	Regions
\* ------------------------------------------------------------ */

@import '_region*.css';

/* ------------------------------------------------------------ *\
	Modules
\* ------------------------------------------------------------ */

@import '_module*.css';

/* ------------------------------------------------------------ *\
	Themes
\* ------------------------------------------------------------ */

@import '_theme*.css';
