/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section { padding: 119px 0 129px; }
.section.medium-spacing { padding-top: 100px; padding-bottom: 161px; }

.section .section__head { max-width: 982px; margin-bottom: 40px; }
.section .section__head p:last-child { margin-bottom: 0; }

.section .section__title { margin-bottom: 22px; }

.section .section__title.medium-spacing { margin-bottom: 43px; }
.section .section__title.large-spacing { margin-bottom: 54px; }

.section .section__subtitle { margin-bottom: 23px; }

.section .section__image { position: relative; height: 475px; background-position: center; background-size: cover; }
.section .section__image img { width: 100%; }
.section .section__image figcaption { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }

/* Small Desktop */

$breakpoint-small-desktop {
	.section { padding-top: 70px; padding-bottom: 76px; }
}

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.section.medium-spacing { padding-top: 85px; padding-bottom: 116px; }

	.section .section__head p { margin-bottom: 52px; }
	.section .section__head .section__title { margin-bottom: 11px; }

	.section .section__title.medium-spacing { margin-bottom: 43px; }
	.section .section__title.tablet-large-spacing { margin-bottom: 67px; }
	.section .section__title.tablet-medium-spacing { margin-bottom: 68px; }

	.section .section__subtitle { margin-bottom: 30px; line-height: 1.38; }
}

/* Mobile */

$breakpoint-mobile {
	.section { padding-top: 46px; padding-bottom: 52px;  }
	.section.large-spacing-xs { padding-bottom: 100px; }
	.section.medium-spacing { padding-top: 56px; padding-bottom: 107px; }

	.section .section__head .section__title { margin-bottom: 27px; }
	.section .section__head p { margin-bottom: 58px; }

	.section .section__title.tablet-large-spacing { margin-bottom: 50px; }
	.section .section__title.tablet-medium-spacing { margin-bottom: 16px; }

	.section .section__subtitle { font-size: 24px; }

	.section .section__image figcaption { font-size: 30px; text-align: center; }
}

/* ------------------------------------------------------------ *\
	Section--primary
\* ------------------------------------------------------------ */

.section--primary { background-color: $primary; padding: 98px 0 142px; color: #fff; }
.section--primary .section__title { margin-bottom: 63px; color: inherit; }

/* Small Desktop */

$breakpoint-small-desktop {
	.section--primary { padding-top: 80px; padding-bottom: 80px; }
}

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.section--primary { padding-top: 107px; padding-bottom: 108px; }
	.section--primary .section__title { margin-bottom: 59px; }
}

/* Mobile */

$breakpoint-mobile {
	.section--primary { padding-top: 48px; padding-bottom: 64px; }
	.section--primary .section__title { margin-bottom: 34px; padding-right: 40px; }
}

/* ------------------------------------------------------------ *\
	Section--hiring
\* ------------------------------------------------------------ */

.section--hiring { padding-top: 100px; padding-bottom: 106px; }

.section--hiring .section__head .section__title { margin-bottom: 0; }
.section--hiring .section__head { margin-bottom: 58px; }

.section--hiring .section__title { margin-bottom: 36px; }

.section--hiring a { color: inherit; }
.section--hiring p { max-width: 900px; line-height: 1.6; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.section--hiring { padding: 84px 0 90px; }
	.section--hiring .section__head { margin-bottom: 70px; }
}

/* Mobile */

$breakpoint-mobile {
	.section--hiring { padding-top: 41px; padding-bottom: 42px; }

	.section--hiring .section__title { margin-bottom: 20px; }
	.section--hiring p { line-height: inherit; }

	.section--hiring .section__head { margin-bottom: 77px; }
	.section--hiring .section__head .section__title { margin-bottom: 44px; }
}

.section--hiring-alt { padding-top: 73px; padding-bottom: 87px; }

.section--hiring-alt .section__head .section__title { margin-bottom: 14px; }
.section--hiring-alt .section__head { margin-bottom: 55px; }
.section--hiring-alt .section__head a { font-size: 28px; font-family: $ff-heading; }

.section--hiring-alt p { font-size: 20px; letter-spacing: -0.045em;  margin-bottom: -3px; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.section--hiring-alt { padding-bottom: 79px; }
}

/* Mobile */

$breakpoint-mobile {
	.section--hiring-alt { padding-top: 41px; padding-bottom: 47px; }
	.section--hiring-alt .section__head { margin-bottom: 53px; }
	.section--hiring-alt .section__head .section__title { margin-bottom: 18px; }
	.section--hiring-alt .section__head a { font-size: 16px; }
	.section--hiring-alt p { margin-bottom: 0; font-size: 16px; max-width: 200px; }
}

/* ------------------------------------------------------------ *\
	Section--alt-mobile
\* ------------------------------------------------------------ */

.section--alt-mobile { padding-top: 96px; padding-bottom: 56px; }
.section--alt-mobile .section__title { max-width: 800px; }

.section--alt-mobile .section__head { margin-bottom: 0; }
.section--alt-mobile .section__head p { max-width: 900px; line-height: 1.6; }

.section--alt-mobile + .section { padding-top: 0; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.section--alt-mobile { padding-top: 89px; padding-bottom: 27px; }
	.section--alt-mobile .section__head .section__title { margin-bottom: 40px; }
}

/* Mobile */

$breakpoint-mobile {
	.section--alt-mobile { margin-bottom: 23px; padding-top: 50px; padding-bottom: 34px; background-color: #F5F5F5; }
	.section--alt-mobile .section__head p { line-height: inherit; }
	.section--alt-mobile .section__head .section__title { margin-bottom: 20px; }
}

/* ------------------------------------------------------------ *\
	Section--supporters
\* ------------------------------------------------------------ */

.section--supporters { padding-bottom: 157px; }
.section--supporters .section__title { margin-bottom: 96px;}

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.section--supporters { padding-bottom: 85px; }
	.section--supporters .section__title { margin-bottom: 72px; }
}

/* Mobile */

$breakpoint-mobile {
	.section--supporters { padding-bottom: 78px; }
	.section--supporters .section__title { margin-bottom: 45px; }
}