/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header { z-index: 10; position: absolute; top: 0; left: 0; right: 0; padding-top: 50px; }
.header .header__inner { display: flex; align-items: center; justify-content: space-between; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.header .btn-menu { z-index: 10; }
}

/* Mobile */

$breakpoint-mobile {
	.header { padding-top: 25px; }
}