/* ------------------------------------------------------------ *\
	Service
\* ------------------------------------------------------------ */

.service { position: relative; min-height: 450px; display: flex; height: 100%; flex-direction: column; border: 8px solid #fff; padding: 26px 27px 29px 37px; text-decoration: none; background-color: #fff; color: $color-text; border-radius: 4px; transition: background .3s; align-items: flex-start; }

.service:after { display: none; }
.service:hover { background-color: $primary; color: #fff; }
.service:hover a { color: inherit; }
.service:hover a:after { transform: translateY(10px); opacity: 0; }
.service:hover p:after { background-color: #fff; }

.service h3,
.service p,
.service > a { transition: color .3s; }

.service h3 { margin-bottom: 16px; font-size: 45px; line-height: 1.33; }

.service p { line-height: 1.6; font-weight: 400; margin-bottom: 67px; }
.service p:after { display: block; margin-top: 29px; content: ''; width: 82px; height: 10px; background-color: $primary; transition: background .3s; }

.service > a { margin-top: auto;  color: $primary; font-size: 28px; font-family: $ff-heading; font-weight: 600; }
.service > a:after { margin-top: -.3em; }

.service .service__link { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

/* Small Desktop */

$breakpoint-small-desktop {
	.service { padding: 30px; }
	.service p { margin-bottom: 30px; }
}

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.service { min-height: 543px; padding: 43px 55px 60px 49px; }

	.service h3 { margin-bottom: 25px; font-size: 50px; line-height: 1.2; }

	.service p { margin-bottom: 95px; }
	.service p:after { margin-top: 46px; width: 106px; }
}

/* Mobile */

$breakpoint-mobile {
	.service { min-height: 348px; padding: 21px 13px 27px 28px; border-width: 7px; }

	.service h3 { margin-bottom: 6px; font-size: 24px; line-height: 1.33; }
	.service > a { font-size: 18px; }

	.service p { margin-bottom: 32px; line-height: inherit; }
	.service p:after { margin-top: 27px; height: 6px; width: 41px; }
}