/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav { font-size: 18px; }
.nav ul { display: flex; }
.nav li + li { margin-left: 46px; }

.nav a { position: relative; color: $color-text; text-decoration: none; font-weight: 700; }

.nav a:after { transform: translateY(10px); opacity: 0; }

.nav a:hover:after,
.nav .current a:after { opacity: 1; transform: none; }

.nav a:hover,
.nav .current a { color: $primary; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.nav { position: relative; top: -5px; padding-right: 2px; }
}

/* Mobile */

$breakpoint-mobile {
	.nav { position: fixed; top: 0; left: 0; bottom: 0; right: 0; background-color: #F5F5F5; font-size: 27px; padding-top: 82px; overflow-y: auto; transition: opacity .3s, visibility .3s; opacity: 0; visibility: hidden; }
	.nav.is-open { opacity: 1; visibility: visible; }
	.nav ul { display: block; width: 100%; text-align: center; }
	.nav a { font-weight: 600; }
	.nav li + li { margin-left: 0; margin-top: 14px; }
}