/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { position: relative; display: inline-block; padding: 14px 37px; color: #fff; background-color: transparent; border-radius: 4px; vertical-align: middle; text-align: center; cursor: pointer; text-decoration: none; appearance: none; font-size: 20px; background-color: $primary; transition: background .3s; }

.btn:hover { color: #fff; background-color: #E54343; }

/*  Button Block  */

.btn--block { display: block; padding-left: 0; padding-right: 0; }

.btn-menu { position: relative; display: none; width: 25px; height: 23px; color: $primary; }

.btn-menu .btn__icon span,
.btn-menu .btn__icon:before,
.btn-menu .btn__icon:after { position: absolute; content: ''; left: 0; right: 0; height: 5px; border-radius: 10px; background-color: currentColor; transition: transform .3s; }

.btn-menu .btn__icon:before { top: 0; transform-origin: 0 0; }
.btn-menu .btn__icon span { top: 50%; margin-top: -3px; }
.btn-menu .btn__icon:after { bottom: 0; transform-origin: 0 80%; }

.btn-menu.is-open .btn__icon span { opacity: 0; transform: scaleX(0); }
.btn-menu.is-open .btn__icon:before { margin-top: 0px; transform: rotate(45deg) scaleX(1.1);  }
.btn-menu.is-open .btn__icon:after { transform: rotate(-45deg) scaleX(1.1); }

/* Mobile */

$breakpoint-mobile {
	.btn-menu { display: inline-block; }

	.btn { font-size: 16px; padding-top: 10px; padding-bottom: 10px; }
}