<!-- Your footer goes here -->

<footer class="footer">
	<div class="footer__outer">
		<div class="container">
			<h2 class="h1">
				Want to know <span class="is-scratched">more?</span>
			</h2><!-- /.h1 -->

			<p class="footer__entry">
				Are you a developer, trader, financial product inventor, or just someone that wants to know more about the UMA project? We want to talk.
				<a href="mailto:hello@umaproject.org">Contact Us.</a>
			</p>

			<div class="subscribe subscribe--alt">
				<label for="maill" class="h6">Get UMA Updates + Early Access</label>

				<form action="?" method="post">
					<input type="email" id="maill" name="maill" value="" placeholder="Email Address" class="subscribe__field">

					<button class="subscribe__button btn" type="submit">Submit</button>
				</form>

				<p class="subscribe__message">Thanks! You're on our mailing list.</p><!-- /.subscribe__error -->
			</div><!-- /.subscribe -->
		</div><!-- /.container -->
	</div><!-- /.footer__outer -->

	<div class="footer__bar">
		<div class="container">
			<div class="footer__inner">
				<a href="index.html" class="logo link-reset logo--alt footer__logo">UMA</a>

				<nav class="footer__nav">
					<ul>
						<li>
							<a href="about.html">About</a>
						</li>

						<li>
							<a href="https://community.umaproject.org" target="_blank">Community</a>
						</li>

                                                <li>
                                                        <a href="https://docs.umaproject.org" target="_blank">Docs</a>
                                                </li>

						<li>
							<a href="https://github.com/umaprotocol" target="_blank">GitHub</a>
						</li>

						<li>
							<a href="https://medium.com/uma-project" target="_blank">Medium</a>
						</li>

						<li>
							<a href="https://twitter.com/UMAprotocol" target="_blank">Twitter</a>
						</li>
					</ul>
				</nav><!-- /.footer__nav -->

				<p class="footer__copyright">
					Risk Labs
					© 2019
				</p><!-- /.footer__copyright -->
			</div><!-- /.footer__inner -->
		</div><!-- /.container -->
	</div><!-- /.footer__bar -->
</footer><!-- /.footer -->