<footer class="footer">
	<div class="shell shell--large">
		<div class="footer__inner">
			<div class="grid footer__grid">
				<div class="grid__col grid__col--size1 footer__col">
					<div class="logo footer__logo">
						<a href="index.html">
							<img src="assets/images/logo.svg" alt="">
						</a>
					</div><!-- /.logo footer__logo -->

					<div class="copyright">
						<p>Risk Labs © 2020</p>
					</div><!-- /.copyright -->
				</div><!-- /.grid__col grid__col-/-size1 footer__col -->

				<div class="grid__col grid__col--size2 footer__col">
					<div class="grid footer-nav__grid">
						<div class="footer-nav footer__nav">
							<ul>
								<li>
									<a href="https://docs.umaproject.org/getting-started/overview">How UMA Works</a>
								</li>

								<li>
									<a href="https://docs.umaproject.org/">Docs</a>
								</li>

								<li>
									<a href="faq.html">FAQS</a>
								</li>

								<li>
									<a href="mailto:hello@umaproject.org" target="_blank">Contact</a>
								</li>
							</ul>
						</div><!-- /.footer-nav  footer__nav-->

						<div class="footer-nav footer__nav">
							<ul>
								<li>
									<a href="https://docs.umaproject.org/tutorials/setup">Getting Started</a>
								</li>

								<li>
									<a href="https://vote.umaproject.org/"target="_blank">Vote</a>
								</li>

								<li>
									<a href="https://angel.co/risk-labs/jobs" target="_blank">Careers</a>
								</li>
							</ul>
						</div><!-- /.footer-nav  footer__nav-->
					</div><!-- /.grid footer-nav__grid-->
				</div><!-- /.grid__col grid__col-/-size2 footer__col -->

				<div class="grid__col grid__col--size3 footer__col">
					<div class="footer__content">
						<!--<div class="footer__entry">
							<h6>Get UMA Updates</h6>

							<p>Sign up for our newsletter to stay updated about the UMA project.</p>
						</div><!-- /.footer__entry -->

						<!--<div class="subscribe footer__subscribe">
							<form action="?" method="post">
								<input type="email" id="mail" name="mail" value="" placeholder="Email Address" class="subscribe__field">

								<button type="submit" class="subscribe__btn">
									<img src="assets/images/svg/ico-arrow.svg" alt="">
								</button>
							</form>
							
						</div><!-- /.subscribe footer__subscribe -->

						<div class="socials footer__socials">
							<ul>
								<li>
									<a href="https://medium.com/uma-project" target="_blank">
										<img src="assets/images/svg/vector1.svg" alt="">
									</a>
								</li>

								<li>
									<a href="https://github.com/umaprotocol" target="_blank">
										<img src="assets/images/svg/vector2.svg" alt="">
									</a>
								</li>

								<li>
									<a href="https://twitter.com/umaprotocol?lang=en" target="_blank">
										<img src="assets/images/svg/vector3.svg" alt="">
									</a>
								</li>

								<li>
									<a href="https://discord.com/invite/jsb9XQJ" target="_blank">
										<img src="assets/images/svg/soc3.svg" alt="">
									</a>
								</li>
							</ul>
						</div><!-- /.socials footer__socials -->
					</div><!-- /.footer__content -->
				</div><!-- /.grid__col grid__col-/-size3 footer__col -->
			</div><!-- /.grid footer__grid -->
		</div><!-- /.footer__inner -->
	</div><!-- /.shell shell-/-large -->
</footer><!-- /.footer -->
