<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>UMA&mdash;Universal Market Access</title>

	<meta name=description content="A decentralized financial contracts platform built to enable Universal Market Access">
	<meta name=twitter:card content=summary>
	<meta name=twitter:site content=@UMAprotocol>
	<meta name=twitter:title content="UMA&mdash;Universal Market Access">
	<meta name=twitter:image content=https://umaproject.org/assets/images/UMA_square_red_logo.png>
	<meta property=twitter:description content="A decentralized financial contracts platform built to enable Universal Market Access">
	<meta property=og:title content="UMA&mdash;Universal Market Access">
	<meta property=og:image content=https://umaproject.org/assets/images/UMA_square_red_logo.png>
	<meta property=og:description content="A decentralized financial contracts platform built to enable Universal Market Access">
	<meta property=og:url content=https://umaproject.org>

	<link rel="icon" type="image/png" href="assets/images/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="assets/images/favicon-16x16.png" sizes="16x16" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/svg-with-js.min.css" integrity="sha512-W3ZfgmZ5g1rCPFiCbOb+tn7g7sQWOQCB1AkDqrBG1Yp3iDjY9KYFh/k1AWxrt85LX5BRazEAuv+5DV2YZwghag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" /> -->
	<link rel="mask-icon" href="assets/images/safari-pinned-tab.svg" color="#FF4A4A">

	<link rel="stylesheet" type="text/css" href="assets/css/bundle.css" />
	<!-- <link rel="stylesheet" href="https://use.typekit.net/jll8euv.css" /> -->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130599982-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-130599982-1');
	</script>

	<script>
	  response.setHeader("X-Frame-Options", "DENY");
	  response.setHeader("Content-Security-Policy", "frame-ancestors 'none'");
	</script>
</head>
