<header class="header">
	<div class="shell shell--large">
		<div class="header__inner">
			<div class="logo header__logo">
				<a href="/">
					<img src="assets/images/logo.svg" alt="">
				</a>
			</div><!-- /.logo header__logo -->

			<div class="header__content">
				<nav class="nav">
					<ul>
						<li>
							<a href="https://docs.umaproject.org/getting-started/overview">How UMA Works</a>
						</li>

						<li>
							<a href="https://docs.umaproject.org/tutorials/setup">Getting Started</a>
						</li>

						<li>
							<a href="https://docs.umaproject.org/">Docs</a>
						</li>

						<li>
							<a href="https://vote.umaproject.org/"target="_blank">Vote</a>
						</li>
					</ul>
				</nav><!-- /.nav -->

				<div class="socials">
					<ul>
						<li>
							<a href="https://medium.com/uma-project" target="_blank">
								<img src="assets/images/svg/vector1.svg" alt="">
							</a>
						</li>

						<li>
							<a href="https://github.com/umaprotocol" target="_blank">
								<img src="assets/images/svg/vector2.svg" alt="">
							</a>
						</li>

						<li>
							<a href="https://twitter.com/umaprotocol?lang=en" target="_blank">
								<img src="assets/images/svg/vector3.svg" alt="">
							</a>
						</li>

						<li>
							<a href="https://discord.com/invite/jsb9XQJ" target="_blank">
								<img src="assets/images/svg/soc3.svg" alt="">
							</a>
						</li>
					</ul>
				</div><!-- /.socials -->


			</div><!-- /.header__content -->

			<div class="mobile-nav js-mobile-nav">
					<span></span>

					<span></span>

					<span></span>
				</div><!-- /.mobile-nav -->
		</div><!-- /.header__inner -->
	</div><!-- /.shell shell-/-large -->
</header><!-- /.header -->
