<!-- Your header goes here -->

<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="index.html" class="logo link-reset">UMA</a>

      <a href="index.html" class="btn-menu link-reset">
        <span class="btn__icon">
          <span></span>
        </span>
      </a>

      <nav class="nav">
        <ul>
          <li class="d-block d-md-none">
            <a href="index.html">
              Home
            </a>
          </li>

          <li>
            <a href="about.html">About</a>
          </li>

          <li>
            <a href="https://docs.umaproject.org" target="_blank">Docs</a>
          </li>

          <li>
            <a href="https://tools.umaproject.org" target="_blank">Tools</a>
          </li>

          <li>
            <a href="https://vote.umaproject.org" target="_blank">Vote</a>
          </li>

					<li>
            <a href="https://medium.com/uma-project" target="_blank" class="social"
              ><img
                class="social-icon medium"
                src="assets/images/icon-medium.svg"
                alt="medium"
            /></a>
          </li>

					<li>
            <a href="https://github.com/umaprotocol" target="_blank" class="social"
              ><img
                class="social-icon github"
                src="assets/images/icon-github.svg"
                alt="github"
            /></a>
          </li>

          <li>
            <a href="https://twitter.com/umaprotocol" target="_blank" class="social"
              ><img
                class="social-icon twitter"
                src="assets/images/icon-twitter.svg"
                alt="twitter"
            /></a>
          </li>

          <li>
            <a href="https://discord.umaproject.org/" target="_blank" class="social"
              ><img
                class="social-icon discord"
                src="assets/images/icon-discord.svg"
                alt="discord"
            /></a>
          </li>
        </ul>
      </nav>
      <!-- /.nav -->
    </div>
    <!-- /.header__inner -->
  </div>
  <!-- /.container -->
</header>
<!-- /.header -->
