/* ------------------------------------------------------------ *\
    Fonts
\* ------------------------------------------------------------ */

@font-face {
    font-family: 'Halyard Display';
    src: url('../fonts/HalyardDisplay-Regular.woff2') format('woff2'),
        url('../fonts/HalyardDisplay-Regular.woff') format('woff'),
        url('../fonts/HalyardDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('../fonts/HalyardDisplayMedium-Regular.woff2') format('woff2'),
        url('../fonts/HalyardDisplayMedium-Regular.woff') format('woff'),
        url('../fonts/HalyardDisplayMedium-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('../fonts/HalyardDisplaySemiBold-Regular.woff2') format('woff2'),
        url('../fonts/HalyardDisplaySemiBold-Regular.woff') format('woff'),
        url('../fonts/HalyardDisplaySemiBold-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
