.step { font-size: 17px; line-height: 1.65; }

.step figure { margin-bottom: 28px; }

.step h5 { font-size: 22px; margin-bottom: 15px; line-height: 1.27; font-weight: 400; }

.step p { padding-right: 20px; }

@media (max-width: 991px) {
	.step { display: flex; }

	.step figure { flex: 0 0 280px; max-width: 280px; margin-bottom: 0; }
	.step p { padding-right: 35px; }

	.step .step__content { padding-left: 30px; padding-top: 2px; }
}

/* Mobile */

$breakpoint-mobile {
	.step { display: block; }

	.step figure { max-width: 100%; margin-bottom: 14px; }
	.step figure img {}
	.step h5 { margin-bottom: 21px; }

	.step p { padding-right: 0px; }

	.step .step__content { padding-left: 0; }
}
