/* ------------------------------------------------------------ *\
	Profile
\* ------------------------------------------------------------ */

.profile {}
.profile figure { margin-bottom: 29px; }

.profile h5 { margin-bottom: -1px; line-height: 1.35; font-family: inherit; }
.profile h5:before { display: block; margin-bottom: 16px; width: 60px; height: 12px; background-color: $primary; content: ''; }

.profile .profile__links { display: flex; flex-direction: column; align-items: flex-start; margin-top: 8px; margin-bottom: 0; }

.profile .profile__content > span { font-size: 14px; text-transform: uppercase; font-weight: 600; color: rgba(73, 63, 76, .7); }

.profile a { color: inherit; }
.profile a + a { margin-top: 2px; }
.profile a:hover { color: $primary; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.profile { max-width: 228px; }
	.profile .profile__content {}
}

/* Mobile */

$breakpoint-mobile {
	.profile { display: block; max-width: 100%; }
	.profile .profile__content { padding-left: 0; }
	.profile .profile__links { margin-top: 4px; }
	.profile .profile__links a + a { margin-top: 8px; }

	.profile h5 { margin-bottom: 4px; }
	.profile h5:before { height: 11px; }

	.profile figure { margin-bottom: 15px; }
	.profile figure img { width: 100%; }
}