$font-family-serif          : Times, 'Times New Roman', serif;

$font-size-base             : 20px;
$line-height-base           : 1.5;

$shell-max-width            : 1200px;
$shell-gutter               : 10px;

$responsive-xxs             : 374px;
$responsive-xs              : 767px;
$responsive-sm              : 1023px;
$responsive-md              : 1200px;

$breakpoint-mobile-portrait : @media (max-width: $responsive-xxs);
$breakpoint-mobile          : @media (max-width: $responsive-xs);
$breakpoint-tablet-portrait : @media (max-width: $responsive-sm);
$breakpoint-small-desktop   : @media (max-width: $responsive-md);
$retina                     : @media (min-resolution: 2dppx);

$ff-text: 'halyard-text', sans-serif;
$ff-heading: 'halyard-display', sans-serif;

$primary: #FF4A4A;
$color-text: #493F4C;

